<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bruno Philipe</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">

	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/assets/css/brunophilipe.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/certs.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link rel="shortcut icon" href="/assets/img/favicon.png">
	<link rel="apple-touch-icon-precomposed" href="/assets/img/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/img/apple-touch-icon-76x76-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/apple-touch-icon-120x120-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/apple-touch-icon-152x152-precomposed.png">
</head>
<body>
	<div class="container">
		<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-sm-12 content">
			<header>
				<h1>Bruno Philipe</h1>
				<p>Programmer and Web Developer.<br>Currently focused on iOS and OS X development.</p>
			</header>
			{menu}
			{content}
			<div id="footer-spacer"></div>
			<footer>
				<p>Copyright Bruno Philipe 2011-{date.year} &mdash; All Rights Reserved</p>
				<p><a href="/certificates">GnuPG – S/MIME</a></p>
				<p>This website is IPv6 ready</p>
			</footer>
		</div>
	</div>
	<script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
</body>
</html>