			<ul class="menu">
				{menu}
			</ul>
			<div class="social">
				<a id="fb" target="_blank" href="http://facebook.com/brunophilipe"></a>
				<a id="tw" target="_blank" href="http://twitter.com/brunophilipe"></a>
				<a id="lf" target="_blank" href="http://www.last.fm/user/brunoresende29"></a>
				<a id="li" target="_blank" href="http://www.linkedin.com/pub/bruno-philipe-resende-silva/33/416/ba7"></a>
				<a id="gh" target="_blank" href="http://www.github.com/brunophilipe"></a>
				<a id="gp" target="_blank" href="https://plus.google.com/u/0/+BrunoPhilipe"></a>
			</div>
			<hr>