			<ul class="menu">
				{menu}
			</ul>
			<div class="social">
				<a id="fb" class="tooltips" target="_blank" title="Facebook" href="https://facebook.com/brunophilipe"><span>Facebook</span></a>
				<a id="tw" class="tooltips" target="_blank" title="Twitter" href="https://twitter.com/brunophilipe"><span>Twitter</span></a>
				<a id="lf" class="tooltips" target="_blank" title="Last.fm" href="https://www.last.fm/user/brunoresende29"><span>Last.fm</span></a>
				<a id="li" class="tooltips" target="_blank" title="LinkedIn" href="https://www.linkedin.com/pub/bruno-philipe-resende-silva/33/416/ba7"><span>LinkedIn</span></a>
				<a id="gh" class="tooltips" target="_blank" title="GitHub" href="https://www.github.com/brunophilipe"><span>GitHub</span></a>
				<a id="bb" class="tooltips" target="_blank" title="BitBucket" href="https://bitbucket.org/brunophilipe"><span>BitBucket</span></a>
				<a id="gp" class="tooltips" target="_blank" title="Google+" href="https://plus.google.com/u/0/+BrunoPhilipe"><span>Google+</span></a>
			</div>
			<hr>